[ req ]
default_bits       = 2048
distinguished_name = dn
req_extensions     = req_ext
prompt = no
[ dn ]
C = US
O = Develop Inc
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
IP.1	= minikube_ip
IP.2	= minikube_ip
IP.3	= minikube_ip
IP.4	= minikube_ip
IP.5	= minikube_ip
IP.6	= minikube_ip
IP.6	= minikube_ip
DNS.1   = prometheus.local.dev
DNS.2   = alertmanager.local.dev
DNS.3   = thanos.local.dev
DNS.4   = grafana.local.dev
DNS.5   = karma.local.dev
DNS.6   = blackbox-exporter.local.dev
DNS.7	= develop